@model Despesa;
@{
     ViewBag.TituloPagina = "Despesa";
}

<div>
<label for="NomeDespesa">Despesa:</label>@Model.NomeDespesa
</div>
<div>
<label for="Quantidade">Quantidade:</label>@Model.Quantidade
<div>
<label for="Categoria">Categoria:</label>@Model.Categoria
</div>
<div>
<label for="Valor">Valor:</label>@Model.Valor
</div>
<div>
<label for="Pago">Pago:</label>@Model.Pago
</div>



   
